.mobile-page {

}

@media(max-width: 1023px){
.mobile-page .over {min-width: 260px}
.mobile-page div.all {width: 100% !important}
.mobile-page .nav {width: 100% !important}
.mobile-page footer {min-width: 260px}


.mobile-page div.head * {box-sizing: border-box;}
.mobile-page div.head {display: flex; flex-wrap: wrap;}
.mobile-page div.head .btn-blue__new {display: block; margin: 12px 6px 0;}
.mobile-page div.head .menu__list {margin: 12px 6px 0;}
.mobile-page div.btn-blue__new a {display: inline-block;}
.mobile-page header .logo {margin-left: 12px}
.mobile-page header h1 {font-size: 18px}
.mobile-page nav {width: 100% !important; margin-bottom: 15px}

.mobile-page .d-data-container { max-width: 100%; overflow: auto;}
.mobile-page .t-sch-data {width: 100%}

.mobile-page .title-page {padding: 12px}
.mobile-page .nav-top-links {flex-wrap: wrap;}
.mobile-page .nav-top-links .item-nav-top-link {width: 100%; padding: 6px}

.mobile-page .d-line {flex-wrap: wrap;}
.mobile-page .d-line .sp-caption {width: 100%; display: block; text-align: left;}

.mobile-page .d-dop-filter div {float: none !important; text-align: center;margin: 5px}
.mobile-page footer .menu {width: 100%; }
.mobile-page footer .menu ul {display: flex; flex-wrap: wrap; gap: 12px;}
.mobile-page footer .copy {float: left;}
.mobile-page .t-sch-data {display: block;}
.mobile-page .t-sch-data thead {display: none;}
.mobile-page .t-sch-data tbody {display: block;}
.mobile-page .t-sch-data tr {display: block; border: 1px solid #999; padding: 10px; margin: 0 0 15px}
.mobile-page .t-sch-data td {display: block; border: none;}
}